[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jupyterlab = "==3.5.0"
mkdocs = {version = "==1.4.2", extras = ["i18n"]}
mkdocs-material = "==8.5.8"
nbconvert = "==7.2.3"
pymdown-extensions = "==9.7"

[requires]
python_version = "3.10"
